@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}
@utility heading-1 {
  @apply lg:text-7xl text-5xl font-bold;
}
